
button {
  background-color: #1e90ff;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background-color: #1b7ddf;
}
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
